.page {
  position: relative;
  min-height: 100vh;
}

.navList {
  width: 100%;
  height: 100px;
  border-bottom: 3px solid silver;
}

.indexButtons {
  display: inline-block;
  position: absolute;
  margin: 10px;
  block-size: 40px;
}

#add {
  top: 45px;
  right: 160px;
}

#delete {
  top: -66px;
  right: 35px;
}

#submitButton {
  top: 45px;
  right: 110px;
}

#skuDelete {
  top: 45px;
  right: 35px;
}

.logo {
  float: left;
  top: 50px;
  position: absolute;
}

.inputField {
  margin: 15px
}

.input {
  inline-size: 200px;
  position: absolute;
  left: 150px;
}

#subject {
  position: absolute;
  left: 150px;
  top: 230px;
}

.main {
  position:relative;
  float: left;
  width: 100%;
  overflow-wrap: break-word;
  padding-bottom: 10vh;
}

.window {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  text-align: center;
  margin: 28px;
  padding:50px;
}
.radio {
  float: left;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 10vh;
  text-align: center;
  border-top: 3px solid silver;
}

.inputValue {
  font-size:25px;
}

.checkboxdlt {
  float: left;
  transform: scale(2.5);
  position: absolute;
  left: 15%;
  top: 15%;
}

.values {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}